body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc; 
  color: #4a4a4a; 
}

.app {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background: linear-gradient(145deg, #ffffff, #eaeef3); 
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.app:hover {
  transform: translateY(-5px);
}

h1 {
  text-align: center;
  color: #ff6f61;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px pink;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
}

th, td {
  border: none;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #6c757d; 
  color: #fff; 
  text-transform: uppercase;
  font-weight: 600;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f5fa; 
}

button {
  margin: 0 5px;
  padding: 8px 15px;
  background-color: #ff6f61; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e55d50; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.item-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.item-form input,
.item-form select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: calc(33% - 20px);
  background-color: #f9fafb; 
}

.item-form input:focus,
.item-form select:focus {
  border-color: #ff6f61; 
  outline: none;
}

.item-form button {
  background-color: #20c997; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:10px;
}

.item-form button:hover {
  background-color: #1ba987; 
  transform: translateY(-3px);
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #6c757d; 
  font-size: 14px;
}




select {
  width: 160px; 
  padding:6px;
  border: 1px solid #ccc;
  border-radius:5px;
  background-color: #f9f9f9;
  font-size: 15px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}


select:focus {
  border-color: #007bff;
  background-color: #fff;
}


option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

select:hover {
  border-color: #ff6f61;
}

option:disabled {
  color: #aaa;
}
